##################################
# Unity generated folders
##################################
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

##################################
# Unity cache & package cache
##################################
Library/PackageCache/
Library/ScriptAssemblies/
Library/Artifacts/

##################################
# Visual Studio / IDE
##################################
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

##################################
# OS files
##################################
.DS_Store
Thumbs.db

##################################
# Firebase / Android / Gradle
##################################
.gradle/
build/
.gradle-cache/
.gradle-build/

# Android generated
*.apk
*.aab
*.keystore
*.keystore.jks

##################################
# Firebase specific (important)
##################################
google-services.json
GoogleService-Info.plist

##################################
# Unity Addressables / Cache
##################################
ServerData/
StreamingAssets/aa.meta

##################################
# Logs
##################################
*.log

##################################
# Crash reports
##################################
sysinfo.txt
crashlytics-build.properties
